<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Добавить МПП</title>
	</head>
	<body>
				
	<form target="_self" action="/save/-1" enctype="multipart/form-data" method="post">
	<table border="1">	
		<tr>
			<br><br><br>
		</tr>
        <tr>
			<td>
				<input type="text" name="numtel" size="50" placeholder="Введите номер телефона">
			</td>
		</tr>
				
			<tr>
				<td>
					<input type="text" name="fiorg" size="50" placeholder="Введите ФИО РГ">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="fioman" size="50" placeholder="Введите МПП">
				</td>
			</tr>			
			<tr align="center">
				<td>
					<input type="text" name="planresultkolzv" size="50" placeholder="План результативных звонков">
				</td>
			</tr>
			<tr align="center">
				<td>
					<input type="text" name="plankolvstrech" size="50" placeholder="План количества встреч">
				</td>
			</tr>   
		</tr>		
		<tr>
			<td colspan=4 align=center>
				<b><input type="submit" name="button" value="Сохранить" />  <br>   			
  			</td>
		
		
	</table>
		
		<br>
		<p>
		
		</p>
	</form>
		
	</body>
</html>